.SecondaryButton {
  padding: 5px 15px;

  background-color: var(--second-bg-change-color);
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 5px;

  transition: var(--main-transition);

  & > span {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--user-msg-change-color);
  }

  @media (min-width: 320px) and (max-width: 768px) {
    &[contains-image="true"] {
      & > span {
        display: none;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-change-color);
    }
  }
}
