.fileWrapper {
  max-width: 344px;

  padding: 12px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center !important;

  gap: 15px;

  & > a {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--blossom-ui-light-blue-color);
    transition: var(--blossom-ui-main-transition);

    &:hover {
      background-color: var(--blossom-ui-dark-blue-color);
    }

    & > svg {
      width: 20px;
      height: 20px;

      & > path:first-child {
        fill: var(--blossom-ui-primary-text-color);
      }
      & > path:last-child {
        stroke: var(--blossom-ui-primary-text-color);
      }
    }
  }
}

.fileTextWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
