.wrapper {
  width: 260px;

  padding: 15px;
  padding-left: 30px;

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &[is-active='true'] {
    background-color: var(--blossom-ui-primary-blue-color);
  }

  &[is-active='false'] {
    background-color: var(--blossom-ui-primary-background-color);
  }
}
