.Heading {
  font-family: 'DM Sans', sans-serif;
}

.s {
  font-size: 16px;
  font-weight: 700;
}
.m {
  font-size: 30px;
  font-weight: 500;

  @media (min-width: 320px) and (max-width: 769px) {
    font-size: 20px;
  }
}
.l {
  font-size: 30px;
  font-weight: 700;

  @media (min-width: 320px) and (max-width: 768px) {
    font-size: 20px;
  }
}

.message {
  color: var(--msg-change-color);
}
.user {
  color: var(--user-msg-change-color);
}
.green {
  color: var(--green-base-color);
}
