.input {
  width: 100%;
  padding: 14px 0;
  padding-left: 17px;
  border-radius: 8px;

  background-color: var(--second-bg-change-color);
  color: var(--user-msg-change-color);

  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    color: var(--msg-change-color);
  }
}
