.container {
  width: calc(100% - 333px);
  height: 80px;

  position: fixed;
  bottom: 0;
  left: 333px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 0px;

  @media (max-width: 768px) {
    width: 100%;
    left: 0;
  }

  @media (max-width: 768px) {
    transition: var(--blossom-ui-main-transition);
    transform: translateY(0);

    &[is-emoji-open='true'] {
      transform: translateY(-250px);
    }
  }
}

.wrapper {
  width: 100%;

  padding: 15px 35px;

  background-color: var(--blossom-ui-primary-background-color);

  min-height: 80px;
}

.form {
  position: relative;
  width: 100%;
  min-height: 50px;

  padding: 0px 24px;

  border-radius: 25px;
  background-color: var(--blossom-ui-light-background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > p {
    position: absolute;
    left: 70px;
    transform: translateX(0);
    opacity: 1;
    transition: all ease 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    line-height: 100%;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}

.emojiButton {
  background-color: transparent;
  position: relative;
  width: 30px;
  height: 30px;

  & > svg {
    width: 30px;
    height: 30px;

    & > g > path,
    circle {
      transition: all ease-in 0.3s;
      stroke: var(--blossom-ui-primary-text-color);
    }

    @media (hover: hover) {
      &:hover {
        & > g > path,
        circle {
          stroke: var(--blossom-ui-dark-text-color);
        }
      }
    }
  }
}

.button {
  background-color: transparent;
  position: relative;

  & > input[type='file'] {
    width: 30px;
    height: 20px;

    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  & > svg {
    width: 20px;
    height: 20px;

    & > path {
      transition: all ease-in 0.3s;
      fill: var(--blossom-ui-primary-text-color);
    }

    @media (hover: hover) {
      &:hover {
        & > path {
          fill: var(--blossom-ui-dark-text-color);
        }
      }
    }
  }
}

.input {
  width: 100%;
  min-height: 50px;

  padding: 19px 20px;

  white-space: pre-wrap;

  background-color: transparent;

  font-family: 'DM Sans', sans-serif;

  font-size: 14px;
  font-weight: 500;

  color: var(--blossom-ui-primary-text-color);

  resize: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &:focus,
  &[is-content='true'] {
    & ~ p {
      transform: translateX(10px);
      opacity: 0;
    }
  }
}

.changeWrapper {
  width: 100%;

  padding: 15px 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--blossom-ui-primary-background-color);
}

.changeWrapperText {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--blossom-ui-dark-text-color);
  padding-left: 10px;
  gap: 5px;
  max-width: 50%;
}

.changeClose {
  width: 20px;
  height: 20px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  & > span {
    width: 20px;
    height: 2px;

    display: block;

    background-color: var(--blossom-ui-dark-text-color);
    transform: rotate(45deg);

    &::after {
      content: '';
      display: block;

      position: absolute;

      width: 20px;
      height: 2px;
      background-color: var(--blossom-ui-dark-text-color);

      transform: rotate(-90deg);
    }
  }
}
