.container {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 0px;
}

.wrapper {
  width: 100%;

  padding: 15px 35px;

  background-color: var(--msg-bg-change-color);

  min-height: 80px;
}

.form {
  position: relative;
  width: 100%;
  min-height: 50px;

  padding: 0px 24px;

  border-radius: 25px;
  background-color: var(--second-bg-change-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > p {
    position: absolute;
    left: 24px;
    transform: translateX(0);
    opacity: 1;
    transition: all ease 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  background-color: transparent;

  & > svg {
    width: 20px;
    height: 20px;

    & > path {
      transition: all ease-in 0.3s;
      fill: var(--user-msg-change-color);
    }

    @media (hover: hover) {
      &:hover {
        & > path {
          fill: var(--msg-change-color);
        }
      }
    }
  }
}

.input {
  width: 100%;
  min-height: 50px;

  padding: 15px 0;

  white-space: pre-wrap;

  background-color: transparent;

  font-family: 'DM Sans', sans-serif;

  font-size: 14px;
  font-weight: 500;

  color: var(--user-msg-change-color);

  resize: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &:focus,
  &[is-content='true'] {
    & ~ p {
      transform: translateX(10px);
      opacity: 0;
    }
  }
}

.changeWrapper {
  width: 100%;

  padding: 15px 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--msg-bg-change-color);
}

.changeWrapperText {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--msg-change-color);
  padding-left: 10px;
  gap: 5px;
  max-width: 50%;
}

.changeClose {
  width: 20px;
  height: 20px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  & > span {
    width: 20px;
    height: 2px;

    display: block;

    background-color: var(--msg-change-color);
    transform: rotate(45deg);

    &::after {
      content: '';
      display: block;

      position: absolute;

      width: 20px;
      height: 2px;
      background-color: var(--msg-change-color);

      transform: rotate(-90deg);
    }
  }
}
