.form {
  position: relative;
  width: 100%;
  height: 55px;

  padding: 3px 24px;

  border-radius: 25px;
  background-color: var(--blossom-ui-light-background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > p {
    position: absolute;
    left: 70px;
    transform: translateX(0);
    opacity: 1;
    transition: all ease 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    line-height: 100%;
  }
}
