.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;

  background-color: var(--red-base-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
