# URLs
VITE_FRONTEND_SERVER_URL = http://your.client.domain/      
VITE_WS_SERVER_URL       = http://your.ws-server.domain/  
VITE_SERVER_URL          = http://your.http-server.domain/ 
VITE_FILE_SERVER_URL     = http://your.file-server.domain/ 

# Parametrs
VITE_MAX_FILE_SIZE = 20     # Max file size that client can upload (in MB)
