PORT = 
ORIGINAL_URL = 

# DB for production
DATABASE_URL = 
REDIS_URL = 

# DB for dev mode
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_DB = 
POSTGRES_HOST = 
POSTGRES_POST = 

# CRYPTING
WS_CRYPT = 
PASSWORD_CRYPT = 
MESSAGE_CRYPT = 
