# MAIN
PORT = 
WSS_PORT = 
ORIGIN_URL = 
FILE_SERVER_URL = 

# CRYPTING
WS_CRYPT = 
PASSWORD_CRYPT = 

# JWT
ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 

# EMAIL
SMTP_HOST = 
SMTP_PORT = 

SMTP_USER=
SMTP_PASSWORD=

SMTP_CLIENT_ID = 
SMTP_CLIENT_SECRET = 
SMTP_REFRESH_TOKEN=
