.container {
  position: relative;

  &[data-size='s'] {
    width: 50px;
    height: 50px;
  }
  &[data-size='m'] {
    width: 60px;
    height: 60px;

    @media (max-width: 546px) {
      width: 45px;
      height: 45px;
    }
  }
  &[data-size='l'] {
    width: 150px;
    height: 150px;

    & > div > h1 {
      font-size: 64px;
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 50%;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--blossom-ui-accent-color);
}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.status {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 10px;
  height: 10px;

  & > span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background-color: var(--blossom-ui-primary-green-color);
    border: 2px solid var(--blossom-ui-white-color);
  }
}
