.link {
  padding: 8px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 5px;
}

.active {
  width: 100%;

  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);

  & > .icon {
    display: none;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;

  & > h1 {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
