.wrapper {
  position: relative;

  width: calc(100% - 333px);
  min-height: 100vh;

  background: var(--blossom-ui-primary-background-color);

  display: flex;
  flex-direction: column;
  gap: 25px;

  padding-top: 30px;

  @media (min-width: 320px) and (max-width: 769px) {
    width: 100%;
  }
}

.btn {
  position: absolute;
  top: 30px;
  left: 35px;
}
