.item {
  width: 100%;
  padding: 5px 15px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  transition: var(--blossom-ui-main-transition);

  &:hover {
    background-color: var(--blossom-ui-primary-background-color);
  }
}

.icon {
  & > svg {
    width: 20px;
    height: 20px;
  }

  &.red {
    & > svg > path {
      stroke: var(--blossom-ui-primary-red-color);
    }
  }
}
