/* paragraph mixin */
@mixin parMixin {
  font-family: 'DM Sans', sans-serif;

  &[data-color='green'] {
    color: var(--blossom-ui-primary-green-color);
  }
  &[data-color='message'] {
    color: var(--blossom-ui-dark-text-color);
  }
  &[data-color='user'] {
    color: var(--blossom-ui-primary-text-color);
  }
}

@mixin home-page {
  width: calc(100% - 333px);
}

.page-wrapper {
  display: flex;
}

.svg-fill-color {
  & > path,
  rect {
    fill: var(--blossom-ui-primary-text-color);
  }
}
.svg-stroke-color {
  & > path,
  circle {
    stroke: var(--blossom-ui-primary-text-color);
  }
  & > g > path,
  circle {
    stroke: var(--blossom-ui-primary-text-color);
  }
}

.svg-stroke-fill-color {
  & > path {
    stroke: var(--blossom-ui-primary-text-color);
  }
  & > path:first-child {
    fill: var(--blossom-ui-primary-text-color);
  }
}
