/* paragraph mixin */
@mixin parMixin {
  font-family: 'DM Sans', sans-serif;

  &[data-color='green'] {
    color: var(--green-base-color);
  }
  &[data-color='message'] {
    color: var(--msg-change-color);
  }
  &[data-color='user'] {
    color: var(--user-msg-change-color);
  }
}

@mixin home-page {
  width: calc(100% - 333px);
}

.page-wrapper {
  display: flex;
}

.svg-fill-color {
  & > path,
  rect {
    fill: var(--user-msg-change-color);
  }
}
.svg-stroke-color {
  & > path,
  circle {
    stroke: var(--user-msg-change-color);
  }
}
