.wrapper {
  position: relative;

  width: 333px;
  min-height: 100vh;

  background-color: var(--blossom-ui-light-background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 320px) and (max-width: 769px) {
    &[is-home='false'] {
      display: none;
    }
    &[is-home='true'] {
      width: 100%;
    }
  }
}

.container {
  height: 100%;
  padding: 31px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}
