.wrapper {
  width: 100%;
  height: calc(100% - 90px - 80px);

  overflow-y: scroll;
  overflow-x: hidden;

  background-color: var(--blossom-ui-dark-background-color);

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: 546px) {
    height: calc(100% - 80px - 75px);
  }
}
