@import '../../Settings.module.scss';

.wrapper {
  width: calc(100% - 333px);
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 35px;

  padding: 35px;

  @media (min-width: 320px) and (max-width: 769px) {
    width: 100%;
  }
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div {
    width: 94px;
  }
}
