.wrapper {
  width: 333px;
  height: 55px;

  position: fixed;
  left: 0;
  bottom: 0;

  padding: 10px 0px;
  background-color: var(--blossom-ui-light-background-color);
  border-top: 1px solid var(--blossom-ui-border-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.link {
  & > svg {
    transform: scale(1);
    transition: var(--blossom-ui-main-transition);

    & > path,
    circle {
      fill: var(--blossom-ui-dark-text-color);
    }
  }
}

.active {
  & > svg {
    transform: scale(1.2);
    transition: var(--blossom-ui-main-transition);

    & > path,
    circle {
      fill: var(--blossom-ui-primary-text-color);
    }
  }
}
