.form {
  width: 260px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &[inp-mode='text'] {
    & > div > p {
      & > svg > path {
        fill: var(--user-msg-change-color);
      }
    }
  }
  &[inp-mode='password'] {
    & > div > p {
      & > svg > path {
        fill: var(--msg-change-color);
      }
    }
  }
}
