.link {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  color: var(--blossom-ui-dark-text-color);

  transition: var(--main-transition);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }
}
