.form {
  width: 260px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &[inp-mode='text'] {
    & > div > p {
      & > svg > path {
        fill: var(--blossom-ui-primary-text-color);
      }
    }
  }
  &[inp-mode='password'] {
    & > div > p {
      & > svg > path {
        fill: var(--blossom-ui-dark-text-color);
      }
    }
  }
}
