.wrapper {
  width: 100%;
  min-height: 45px;

  overflow: hidden;
  transition: all ease-in 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & > img {
    width: 40px;
    height: 40px;
  }

  &[modal-state='idle'] {
    min-height: 0px;
    transition: all ease-in 0.2s;
  }

  &[modal-state='error'] {
    background-color: var(--red-base-color);
  }

  &[modal-state='success'] {
    background-color: var(--green-base-color);
  }

  &[modal-state='loading'] {
    background-color: var(--blue-base-color);
  }
}
