.PrimaryButton {
  width: 100%;
  min-height: 42px;
  padding: 13px 0;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--user-msg-change-color);

  cursor: pointer;
  transition: var(--main-transition);

  &.blue {
    background-color: var(--blue-base-color);
  }
  &.red {
    background-color: var(--red-base-color);
  }

  &:focus {
    &.blue {
      background-color: var(--dark-blue-base-color);
    }
    &.red {
      background-color: var(--dark-red-base-color);
    }
  }

  @media (hover: hover) {
    &:hover {
      &.blue {
        background-color: var(--dark-blue-base-color);
      }
      &.red {
        background-color: var(--dark-red-base-color);
      }
    }
  }

  @media (min-width: 320px) and (max-width: 767px) {
    padding: 7px 0;
  }
}
