.container {
  width: calc(100% - 333px);
  height: 80px;

  position: fixed;
  bottom: 0;
  left: 333px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  @media (max-width: 768px) {
    width: 100%;
    left: 0;
  }

  @media (max-width: 768px) {
    transition: var(--blossom-ui-main-transition);
    transform: translateY(0);

    &[is-emoji-open='true'] {
      transform: translateY(-250px);
    }
  }
}

.wrapper {
  width: 100%;

  padding: 15px 35px;

  background-color: var(--blossom-ui-primary-background-color);

  min-height: 80px;
}
