.wrapper {
  width: 110px;
  height: 70px;

  border-radius: 15px;
  background-color: var(--blossom-ui-light-background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

  padding: 0px 10px;

  transition: all ease-in 0.3s;

  &:focus {
    background-color: var(--blossom-ui-dark-background-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--blossom-ui-dark-background-color);
    }
  }

  & > svg {
    width: 24px !important;
    height: 24px !important;

    & > path {
      fill: var(--blossom-ui-primary-text-color);
    }
    & > circle {
      fill: var(--blossom-ui-primary-text-color);
    }
  }
}
