.Wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.BtnWrapper {
  position: absolute;

  z-index: 3;

  top: 5%;
  right: 5%;
}

.CloseBtn {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  &:hover {
    & > span,
    span::after {
      background-color: var(--blossom-ui-dark-text-color);
    }
  }

  & > span {
    position: relative;
    display: block;

    width: 100%;
    height: 2px;

    background-color: var(--blossom-ui-primary-text-color);

    transform: rotate(45deg);
    transition: var(--blossom-ui-main-transition);

    &::after {
      content: ' ';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var(--blossom-ui-primary-text-color);

      transform: rotate(-90deg);
      transition: var(--blossom-ui-main-transition);
    }
  }
}
