.wrapper {
  position: relative;

  width: calc(100% - 333px);
  max-height: 100vh;
  overflow-y: hidden;

  @media (min-width: 320px) and (max-width: 769px) {
    width: 100%;
    overflow: hidden;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
}
