.buttons {
  display: flex;
  gap: 20px;
}

.button {
  background-color: transparent;
  position: relative;

  & > input[type='file'] {
    width: 30px;
    height: 20px;

    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  & > svg {
    width: 20px;
    height: 20px;

    & > path {
      transition: all ease-in 0.3s;
      fill: var(--blossom-ui-primary-text-color);
    }

    @media (hover: hover) {
      &:hover {
        & > path {
          fill: var(--blossom-ui-dark-text-color);
        }
      }
    }
  }
}
